@using NC.WebEngine.Core.Content;
@using NC.WebEngine.ViewModels;
@using NC.WebEngine.Core;

@{
    Layout = "Theme.cshtml";
}

@model ContentRenderModel

@section Nav
{

    <nav class="header-nav">
        <ul class="nav-list" id="navbar">
            <li class="nav-item" data-menuanchor="home"><a class="nav-link" href="/#home">home</a></li>
            <li class="nav-item" data-menuanchor="about"><a class="nav-link" href="/#about">about</a></li>
            <li class="nav-item" data-menuanchor="projects"><a class="nav-link" href="/#projects">portfolio</a></li>
            <li class="nav-item" data-menuanchor="blogs"><a class="nav-link" href="/#blogs">blogs</a></li>
        </ul>
    </nav>
}


<section class="section pp-scrollable" id="home">
    <div class="hero section-inner">
        <video autoplay muted loop>
            <source src="/images/NantCom-Hero1-750k.mp4" type="video/mp4" />
        </video>

        <div class="container section-cnt">
            <div class="row">
                <div class="col-lg-8">

                    <h1 class="h1 hero-title">
                        <img src="" height="192" width="192"
                             style="position:relative; top: 20px"
                             ncweb-editableimage="/images/logo-hero.png" nocrop="" />
                        NantCom
                    </h1>
                    <p class="hero-txt" style="position:relative; left: 8px">
                        We build Cloud-First Software Systems, <br />
                        AI/ML-powered Solutions, and <br />
                        High Performance Laptops.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="services section-inner"
         ncweb-editablebackground="/images/layout/home-experience.png">
        <div class="container section-cnt">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="h2 services-title">
                        <span class="mark">
                            @(DateTime.Now.Year - 2011)
                        </span>
                        <span class="txt">Years<br> of <br>Pure Creations</span>
                    </h2>
                </div>
                <div class="col-lg-7 offset-xl-2 offset-lg-1 anuphan"
                     ncweb-contentpart="About">
                    <h3 class="services-subtitle">
                        From beginning ideas to individual integrity, rich identity from the line <span>on the paper to final projects.</span>
                    </h3>
                    <div class="services-items">
                        <div class="services-item">
                            <h4 class="services-item__title">Website Design</h4>
                            <p class="services-item__descr">We make our customers ' products valuable in the eyes of customers. To do this, we analyze and study people, build long-term strategies f</p>
                        </div>
                        <div class="services-item">
                            4
                            <h4 class="services-item__title">Mobile app design</h4>
                            <p class="services-item__descr">Mobile application development is a highlight that businesses are interested in at the moment and in the future.</p>
                        </div>
                        <div class="services-item">
                            <h4 class="services-item__title">3D MODELING</h4>
                            <p class="services-item__descr">We make our customers ' products valuable in the eyes of customers. To do this, we analyze and study people, build long-term strategies f</p>
                        </div>
                        <div class="services-item">
                            <h4 class="services-item__title">BRANDING</h4>
                            <p class="services-item__descr">We make our customers ' products valuable in the eyes of customers. To do this, we analyze and study people, build long-term strategies f</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="projects">
    <div class="projects section-inner"
         ncweb-editablebackground="/images/layout/home-projects.png">
        <div class="container section-cnt">
            <div class="projects-list"
                 ncweb-editablecollection="/portfolio">
                <div class="content-marquee has-stopable">
                    <div class="content-marquee__original">

                        @foreach (var page in this.Model.ContentService.GetPagesUnder("/portfolio").OrderByDescending(p => p.Created))
                        {
                            <div class="projects-list__item"
                                 ncweb-collectionitem itemid="@(page.Id)">
                                <!-- Stroke text-->
                                <div class="stroke-text vlt-stroke-text--lg">
                                    <div class="projects-list__txt">

                                        <img src="https://via.placeholder.com/300X150" alt=""
                                             style="width: 300px"
                                             ncweb-editableimage="images/portfolio/@(page.Id)/logo.png"
                                             nocrop>

                                        <a href="@(page.Url)">
                                            @(page.Title)
                                        </a>

                                    </div>                                    
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest news section. Seventh section-->
<section class="section pp-scrollable" id="news">
    <div class="news section-inner">
        <div class="container section-cnt">
            <div class="news-items row">


                @foreach (var page in this.Model.ContentService.GetPagesUnder("/blog").OrderByDescending(p => p.Created))
                {
                    <div class="col-lg-4 news-item-wrap">
                        <div class="news-item">
                            <a class="news-link" href="@(page.Url)">
                                <span class="news-item__img">
                                    <img src="https://via.placeholder.com/390X355"
                                         ncweb-editableimage="images/blog/@(page.Id)/list.png" alt="">
                                </span>
                                <span class="news-item__info">
                                    <span class="news-item__info-date"
                                          ncweb-itemdate="@(page.Created.ToUnixTimeMilliseconds())"
                                          ncweb-itemdateformat="d MMMM yyyy">
                                        @(page.Created.ToString("d MMMM yyyy"))
                                    </span>
                                    <span class="news-item__info-tag">

                                    </span>
                                </span>
                                <span class="news-item__title anuphan">@(page.Title)</span>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>